<header class="header-container">

    <div class="main-nav">
      <img width="50" height="50" src="images/campuslogo.png" class="logo" />
  
      <div class="nav-links">
        <ul>
          <li><a routerLink="/courses"><i class="fas fa-graduation-cap"></i> קורסים </a></li>
          <li><a routerLink="/study-groups"><i class="fas fa-users"></i> קבוצות למידה </a></li>
          <li *ngIf="userRole() === 'teacher'"><a routerLink="/campus-learning"><i class="fas fa-chalkboard-teacher"></i> כל המרצות </a></li>
        <li> <a routerLink="/lessons"><i class="fas fa-book"></i> ללמד בקמפוס </a></li>
        </ul>
      </div>

 <div class="register-links" *ngIf="!isLoggedIn()">
  <a routerLink="/login" class="login-link">התחברות</a>
  <a routerLink="/register" class="register-button">הרשמה</a>
</div>

<!-- avatar -->
<div class="avatar-container" *ngIf="isLoggedIn()">
  <div class="avatar">{{ avatarInitial() }}</div>
  <span class="user-name">{{ username() }}</span>
  <button class="logout-button" (click)="logout()">התנתקות</button>
</div>

    </div>
  </header>
  

<!-- <section class="courses-container">
  <h2>הצטרפו לקמפוס!</h2>
  <p>בחרו את מסלול הקורס המתאים לכם</p>
  <div class="courses-grid">
 
    <div class="course-card">
      <img src="images/מנוי מרצה.png" alt="קורס 1">
      <div class="course-content">
        <div class="course-title">מנוי מרצה בקמפוס</div>
        <div class="course-price">החל מ־0 ש"ח / לחודש</div>
        <button class="btn-select">בחר אפשרויות</button>
      </div>
    </div>

  
     <div class="course-card">
      <span class="tag-sale">מבצע</span>
      <img src="images/מנוי זהב.png" alt="קורס 2">
      <div class="course-content">
        <div class="course-title">מנוי זהב + ניהול קהילה</div>
        <div class="course-price">החל מ־220 ש"ח / לחודש</div>
        <button class="btn-select">בחר אפשרויות</button>
      </div>
    </div>

  
     <div class="course-card">
      <img src="images/מנוי.png" alt="קורס 3">
      <div class="course-content">
        <div class="course-title">מנוי ניהול קהילה</div>
        <div class="course-price">החל מ־180 ש"ח / לחודש</div>
        <button class="btn-select">בחר אפשרויות</button>
      </div>
    </div>
  </div>
<-- </section>   -->

