<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="home.component.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


  <!-- Main -->
  <main>
    <div class="sub-header">
        <p class="sub-header-text">
            <br><strong>ברוכות הבאות לקדם קמפוס </strong>
            <br>קורסים וכיתות למידה וירטואליות לציבור החרדי באוירה תורנית שמורה
            <br>כאן אנחנו לומדות!</p>
    </div>
    <img  src="images/kedem.png"style="width: 45%; height: auto; display: block; margin: 0 auto;"/>
  
    <div class="button-row">
      <button class="button">רוצה ללמוד</button>
      <button class="button">רוצה ללמד</button>
      <button class="button">רוצה לפתוח קבוצת משלי</button>
    </div>
  </main>


  
  
</body>
</html>
